@font-face {
    font-family: "Karmatic_Arcade";
    src: url("Karmatic Arcade.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

  text-align: center;
  color: rgb(255, 255, 255);

  background-color: rgb(42, 42, 42);

}

#canvas-container {

  /*display: flex;

  justify-content: center;*/

}
